body {
    background-color: #004d60;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    color : white ;
    overflow-x: hidden;
    padding-bottom: 70px;
}


main {
    animation: slideIn 0.5s ease-out;
}

header {
    height: 25%;
}

a {
    color: white;
    text-decoration: none;
}

.page-title {
    font-weight: 300;
    font-size: 100px; 
}

.profile-title {
    font-weight: 300;
    font-size: 28px;
    opacity: 0.9;
    direction: rtl
}

.profile-desc{
    font-weight: 300;
    font-size: 18px;
    opacity: 0.7;
    direction: rtl 
}

.tile {
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    transition: transform 0.6s ease-in-out;

}
.tile i {
    font-size: 100px;
}

.tile:hover {
    outline: 3px solid white;
    transform: scale(1.05);
}

.tile:active {
    transform: scale(0.95);

}

.bgc-blue { background-color: #2b5797; }
.bgc-green { background-color: #00a300; }
.bgc-orange { background-color: #da532c; }
.bgc-purple { background-color: #7e3878; }
.bgc-red {background-color: #e51400;}


@keyframes slideIn {
            from { opacity: 0; transform: translateX(100px); }
            to { opacity: 1; transform: translateX(0); }
}



.dokme {
    border-radius: 0px ;
    color: white;
    border: none;
    width: 100%;
    height: 50px; 
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
}

.dokme:hover {
     outline: 2px solid white;
}

.dokme:active {
     transform: scale(0.95);
}


.form-footer {
    font-weight: 300;
    font-size: 18px;
    opacity: 0.9;
}

.form-footer a {
    color:#ff734c;
    opacity: 1;
    font-weight: 600;
}

.form-control , .form-select {
    border-radius: 0;
    background-color: rgba(255,255,255,0.1);
    border: 2px solid rgba(255,255,255,0.5);
    color : white ;
}

.form-control:focus , .form-select:focus{
    background-color: white !important;
    color: black !important;
    box-shadow: none;
}

.form-control::placeholder {
    color: rgba(255,255,255,0.5);
}

.form-label {
    font-weight: 300;
    font-size: 14px;
    margin-bottom: 3px;
    opacity: 0.8;
}


table {
    margin-top: 20px;
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}
table , tr{
    border-bottom: 3px solid rgba(255, 255, 255, 0.5);
}

th , td{
    padding : 10px;
    text-transform: capitalize;
}

tbody tr {
    font-weight: 300;
    text-transform: capitalize;
}

th {
    font-weight: 400;
}

tbody tr:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.type-name > h1{
    font-weight: 300;
    text-transform: capitalize;
}


.foodcard {
    border-radius: 0;
    background-color: rgba(255,255,255,0.1);
    border: 2px solid rgba(255,255,255,0.5);
    color : white ;
    text-align: center;
    padding: 10px;
}

.foodimage {
    position: relative;
    height: 200px;
    overflow: hidden;
}

.foodimage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.foodname {
    font-size: 40px;
    font-weight: 400;
    opacity: 0.9;
    text-transform: capitalize;
}

.fooddetails {
    font-size: 20px;
    font-weight: 300;
    opacity: 0.8;
    text-transform: capitalize;
}

.foodcard.is-selected {
    border: 2px solid #0bea4a;
    background-color: rgba(4, 160, 85, 0.3);
}

.foodcard:hover {
    border: 2px solid #ff734c;
}


.footer {
    position: fixed;
    padding: 10px;
    bottom: 0px;
    left: 0px;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
}

.footer i{
    font-size: 24px;

}

.footer i:hover{
    color: cyan;

}